body {
  font-family: Helvetica, Arial, Calibri
}

.link {
  position: relative;
  display: inline-block;
  color: #05a2e6;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #003687;
}

@media print {
  .col-sm-3 {
    width: 20%;
  }

  .col-sm-6 {
    width: 60%;
  }

  .col-sm-3 {
    width: 20%;
  }
}